[Unit]
Description=Doorbell

[Service]
User=pi
Group=pi
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/doorbell/doorbell.py -d /home/pi/bells
ExecStop=/usr/bin/pkill -f 'python3 /home/pi/doorbell/doorbell.py'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

